In [70]:
from sklearn.model_selection import train_test_split 
import pandas as pd
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import GaussianNB
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer

In [71]:
#Importação do pacote joblib
from sklearn.externals import joblib

In [72]:
#Carrega o dataset com os dados de treinamento e validacao
dados_baloes = pd.read_csv("balloons_dataset.csv", encoding="utf-8")

In [89]:
dados_baloes.head(5)

  color   size      act    age inflated
0     1  SMALL  STRETCH  ADULT        T
1     1  SMALL  STRETCH  ADULT        T
2     1  SMALL  STRETCH  ADULT        T
3     1  SMALL  STRETCH  ADULT        T
4     1  SMALL  STRETCH  ADULT        T

In [90]:
#mudados cores para números
 dados_baloes['color'].replace('YELLOW', 1, inplace=True)
    
 dados_baloes['color'].replace('PURPLE', 2, inplace=True)

In [94]:
#tamanho para numero 
dados_baloes['size'].replace('SMALL', 1, inplace=True)
dados_baloes['size'].replace('LARGE', 2, inplace=True)

In [95]:
# estica ou mergulha para numeros
dados_baloes['act'].replace('STRETCH', 1, inplace=True)
dados_baloes['act'].replace('DIP', 2, inplace=True)

In [96]:
# adulto ou criança para numeros
dados_baloes['age'].replace('ADULT', 1, inplace=True)
dados_baloes['age'].replace('CHILD', 2, inplace=True)

In [97]:
dados_baloes

    color  size  act  age inflated
0       1     1    1    1        T
1       1     1    1    1        T
2       1     1    1    1        T
3       1     1    1    1        T
4       1     1    1    1        T
5       1     1    1    1        T
6       1     1    1    1        T
7       1     1    1    1        T
8       1     1    1    1        T
9       1     1    1    1        T
10      1     1    1    2        F
11      1     1    1    2        F
12      1     1    1    2        F
13      1     1    1    2        F
14      1     1    1    2        F
15      1     1    2    1        F
16      1     1    2    1        F
17      1     1    2    1        F
18      1     1    2    1        F
19      1     1    2    1        F
20      1     1    2    2        F
21      1     1    2    2        F
22      1     1    2    2        F
23      1     1    2    2        F
24      1     1    2    2        F
25      1     2    1    1        T
26      1     2    1    1        T
27      1     2    1    1        T
28      1     2    1    1        T
29      1     2    1    1        T
..    ...   ...  ...  ...      ...
70      2     1    2    2        F
71      2     1    2    2        F
72      2     1    2    2        F
73      2     1    2    2        F
74      2     1    2    2        F
75      2     2    1    1        T
76      2     2    1    1        T
77      2     2    1    1        T
78      2     2    1    1        T
79      2     2    1    1        T
80      2     2    1    1        T
81      2     2    1    1        T
82      2     2    1    1        T
83      2     2    1    1        T
84      2     2    1    1        T
85      2     2    1    2        F
86      2     2    1    2        F
87      2     2    1    2        F
88      2     2    1    2        F
89      2     2    1    2        F
90      2     2    2    1        F
91      2     2    2    1        F
92      2     2    2    1        F
93      2     2    2    1        F
94      2     2    2    1        F
95      2     2    2    2        F
96      2     2    2    2        F
97      2     2    2    2        F
98      2     2    2    2        F
99      2     2    2    2        F

[100 rows x 5 columns]

In [99]:
#Importação do pacote joblib para persistência do modelo
data_treino = np.array(dados_baloes[['color', 'size', 'act', 'age']])
data_classif = np.array(dados_baloes['inflated'])
x_treino, dados_val, y_treino, pols_val = train_test_split(data_treino, data_classif, test_size=0.10)

In [100]:
#criando o modelo
modelo_NB = GaussianNB()
modelo_NB.fit(x_treino, y_treino)

GaussianNB(priors=None, var_smoothing=1e-09)

In [101]:
#Persistência do modelo no arquivo modelo_mamifero_MNB.pkl
joblib.dump(modelo_NB, 'modelo_baloes.pkl')

['modelo_baloes.pkl']